* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  transition: background-color 0.3s ease;
}

body:hover {
  background-color: #7cfc00; /* A slightly darker shade of greenyellow */
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

.container .tenor-gif-embed {
  max-width: 200px;
  transition: transform 0.3s ease;
}

.container .tenor-gif-embed:hover {
  transform: scale(1.05);
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #07419e;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  transition: all 0.3s ease;
}

.btn a:hover {
  background: #cb9818;
  color: #000;
  box-shadow: 0.7rem 1.5rem 3.5rem hsl(0, 0%, 0%, 0.4);
  transform: translateY(-3px);
}

.btn a:active {
  transform: translateY(1px);
  box-shadow: 0.3rem 0.5rem 2.5rem hsl(0, 0%, 0%, 0.3);
}


